{% extends 'account/layout.html.twig' %}

{% block title %}Change your addresses{% endblock %}

{% block content %}
<h1>Addresses</h1>
{% if app.user.addresses|length == 0 %}
    <p>No address yet.</p>
{% else %}
    <div class="row">
        {% for address in app.user.addresses %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <p class="card-text">
                            {{ address.address }}<br>
                            {{ address.code }} {{ address.city }}, {{ address.country }}
                        </p>
                        <a href="{{ path('app_account_address_edit', {id : address.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('app_account_address_delete', {id : address.id}) }}" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<a href="{{ path('app_account_address_add') }}" class="btn btn-primary">Add an address</a>
{% endblock %}
