{% extends 'base.html.twig' %}

{% block title %}Thanks{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Thanks for your order</h1>
            <p>Hey {{ app.user.firstname }} {{ app.user.lastname }},</p>
            <p>
                You'll receive your order n°{{ order.id }} with {{ order.carrierName }} at :<br>
                {{ order.address|striptags('<br>')|raw }}
            </p>
            <p>You'll receive a new mail at {{ order.customer.email }}, for more information check your <a href="{{ path('app_account_orders') }}">orders</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
